@model CountExp
<div class="form-group">
    <label helper-for="Data">Введите число</label>
    <input helper-for="Data" />
</div>

<div class="form-group">

    <label helper-for="Module">По какому модулю считать?</label>
    <input helper-for="Module" />

</div>

<button class="btn  btn-warning m-1 p-2" type="submit">Посчитать</button>